#!/usr/bin/env bash

# Templates are useful for many things, including:
# init scripts for services, default configuation files, and more.
# Variables to be replaced use the {{variable_name}} syntax.
# You then use the template module's install_template, and seed_template dsl
# functions, to manage the template's installation and content replacement.

