#!/bin/sh

# Templates are useful for many things, including:
# init scripts for services, default configuation files, and more.
# Variables to be replaced use the {{variable_name}} syntax.
# You then use the template module's templates install DSL
# functions, to manage the template's installation and content replacement.

# use: sm ext generate template install # in extension dir for kickstart with development
