# SM Extension {{extension}} TODO List

* TODO: Write the extension {{extension}} actions in bin/.
* TODO: Write the extension {{extension}} shell/functions.
* TODO: Write the extension {{extension}} shell/initialize.
* TODO: Write the extension {{extension}} README.
